*{
    margin: 0;
    padding: 0;
    /* border: 1px black solid; */
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:blue;
}

#doc{
    margin: auto;
    font-size: x-large;
}

header, footer{
    background-color: greenyellow;
    overflow: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px 3px darkred;
}

header > *{
    margin-left: 10px;
    margin-right: 10px;
}

header h1{
    font-size: 70px;
}

footer{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-shadow: 1px 1px 1px darkred;
}

footer p{
    text-align: center;
}

#main-logo-div{
    display: inline-block;
    border-radius: 50px;
    border: 1px blue solid;
    padding: 10px;
    background-color: gold;
    box-shadow: 2px 2px 4px 0px darkred
}

#main-logo{
    width: 80px;
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(255, 255, 113);
}

nav p{
    padding: 5px 15px 5px 15px;
    margin: 10px;
    border: 1px solid blue;
    border-radius: 15px;
    background-color: rgb(197, 255, 81);
    box-shadow: 2px 2px 4px 0px green;
}

nav p a{
    font-weight: 900;
    text-shadow: 1px 2px 2px darkred;
}

nav p:hover{
    color: white;
    background-color: blue;
    box-shadow: 2px 2px 4px 0px darkred
}

nav p a{
    text-decoration: none;
    color: inherit;
}



