*{
    margin: 0;
    padding: 0;
    /* border: 1px black solid; */
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:blue;
}

#doc{
    /* width: 800px; */
    margin: auto;
    /* background-color: azure; */
    font-size: x-large;
}

header, footer{
    background-color: greenyellow;
    overflow: auto;
}

header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

header h1{
    padding-left: 20px;
    font-size: 70px;
}

footer{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer p{
    text-align: center;
}

#main-logo-div{
    display: inline-block;
    border-radius: 50px;
    border: 2px rgb(151, 229, 34) solid;
    padding: 10px;
    background-color: gold;
    margin: 5px 0px 5px 5px;
}

#main-logo{
    width: 80px;
}
