*{
    margin: 0;
    padding: 0;
    /* border: 1px black solid; */
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:blue;
}

#doc{
    width: 800px;
    margin: auto;
    /* background-color: azure; */
    font-size: xx-large;
}

header, footer{
    background-color: greenyellow;
    overflow: auto;
}

footer{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer p{
    text-align: center;
}

#main-logo-div{
    display: inline-block;
    border-radius: 50px;
    border: 2px rgb(151, 229, 34) solid;
    padding: 10px;
    background-color: gold;
    margin: 5px 0px 5px 5px;
}

#main-logo{
    width: 80px;
}

#title{
    float: right;
    width: 691px;
    margin: auto;
    margin-top: 15px;
    /* background-color: blanchedalmond; */
    /* display: inline-block; */
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:blue;
    font-size: 68px;
    font-style: italic;
}